<div>
    <h1>Bem vindo ao NTlak!</h1>

    <select ui-select2 ng-model="vm.teste.value" data-placeholder="Teste show">
        <option ng-repeat="opcao in vm.teste.list" value="{{opcao.id}}">{{opcao.text}}</option>
    </select>

    <a ng-href="#/api/contato" class="btn btn-primary">Novo contato</a>
    <input ng-model="vm.filtro" type="search" placeholder="parte do nome" />
    <p ng-show="vm.contatos.length">Contatos encontrados: {{resultado.length}}</p>
    <p class="text-info" ng-hide="vm.contatos.length">Não ha contatos cadastrados!</p>

    <table class="table table-condensed" width="100%" align="center">
        <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tr ng-repeat="contato in vm.contatos| filter: vm.filtro as resultado">
            <td><a ng-href="#/api/contato/{{contato._id}}">{{contato.nome}}</a></td>
            <td>{{contato.email}}</td>
            <td><button class="btn btn-warning" ng-click="vm.remove(contato)">remover</button></td>
        </tr>
    </table>
    <p ng-hide="resultado.length">
        Contato não encontrado
    </p>
    <p ng-show="vm.mensagem.texto">
        {{mensagem.texto}}
    </p>
</div>